/* Fixed height for navbar*/
.navbar{
    height:70px;
}
.nav-margin{
    margin: 0% 21.5% 0% 21.5%;
}
/* Top and scroll styles for navbar*/
.top{
    background-color: #ffffff !important;
    transition: all .5s ease-in-out !important;
}

.scroll { 
	background-color: #dce8f8 !important;
    transition: all .5s ease-in-out !important;
}

/* Brand*/
.brand{
    color: #008cf4;
    text-decoration: none;
    border: none;
    font-size:xx-large;
    transition: none;
}

.logo{
    max-width: 70px;
}

/* Languages*/
.languages{
    border: none;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

/* Every link*/
.nav-bar-link{
    font-size: larger;
    border: none;
    transition: none;
    color: rgba(0, 0, 0, 0.55);
}

.nav-bar-link:hover{
    color: #008cf4;
    transition: none !important;
}

.nav-email{
    margin-bottom: 3px;
}
.offcanvas-hidden{
    display: none;
}

.offcanvas-style{
    background-color: #ffffff !important;
}
.offcanvas-size{
    font-size:x-large;
}

.offcanvas-links{
    color: #008cf4 !important;
}

.offcanvas-titles{
    cursor:default;
    color: rgba(0, 0, 0, 0.65) !important;
    font-size:x-large;
    font-family: "Inter-Bold", "Segoe UI";
}

.languages:hover{
    color: rgba(0, 0, 0, 0.65) !important;
}