html{
    scroll-padding-top: 70px;
}
@font-face {
    font-family: "AdobeCleanRegular";
    src: local("AdobeCleanRegular"),
     url("../public/assets/fonts/AdobeCleanRegular.ttf") format("truetype");
    font-weight:normal;
}
@font-face {
    font-family: "AdobeCleanBold";
    src: local("AdobeCleanBold"),
     url("../public/assets/fonts/AdobeCleanBold.ttf") format("truetype");
    font-weight:bold;
}
body{
    font-family: "AdobeCleanRegular","Segoe UI";
}
.bold{
    font-family: "AdobeCleanBold","Segoe UI";
}